openapi: 3.0.0
info:
  contact:
    email: support@openlattice.com
  description: OpenLattice API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://api.openlattice.com/terms/
  title: OpenLattice API
  version: 0.0.1
externalDocs:
  description: Find out more about OpenLattice
  url: https://openlattice.com/
servers:
- description: Production OpenLattice API
  url: https://api.openlattice.com
- description: Staging OpenLattice API
  url: https://api.staging.openlattice.com
- description: Local OpenLattice API
  url: http://localhost:8080
tags:
- description: API endpoints to the entity data model.
  name: edm
- description: API endpoints for permissions for organizations, roles and users.
  name: permissions
- description: API endpoints for searching users and their properties.
  name: directory
- description: API endpoints to reading and writing data.
  name: data
- description: API endpoints to search data.
  name: search
- description: API endpoints related to organizations.
  name: organizations
- description: API endpoints for dealing with entity sets.
  name: entitySets
paths:
  /datastore/edm/:
    get:
      operationId: getEntityDataModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EDM'
          description: An Entity Data Model
      summary: Gets the entity data model, including namespaces, schemas, entity types,
        association types, and property types.
      tags:
      - edm
    patch:
      operationId: updateEntityDataModel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EDM'
        required: true
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Updates the entity data model, including schemas, entity types, association
        types, and property types.
      tags:
      - edm
  /datastore/edm/diff/:
    post:
      operationId: getEntityDataModelDiff
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EDMdiff'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EDMdiff'
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Gets the changes between the existing entity data model and the entity
        data model passed in, including schemas, association types, entity types,
        and property types.
      tags:
      - edm
  /datastore/edm/entity/type/{entityTypeId}:
    delete:
      operationId: deleteEntityType
      parameters:
      - explode: false
        in: path
        name: entityTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
      summary: Deletes the EntityType definition for the given EntityType UUID.
      tags:
      - edm
    get:
      operationId: getEntityType
      parameters:
      - explode: false
        in: path
        name: entityTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityType'
          description: Success
      summary: Gets the EntityType definition for the given EntityType UUID.
      tags:
      - edm
    patch:
      operationId: updateEntityTypeMetaData
      parameters:
      - explode: false
        in: path
        name: entityTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataUpdate'
        required: true
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Updates the EntityType definition for the given EntityType UUID with
        the given metadata.
      tags:
      - edm
  /datastore/edm/ids/entity/type/{namespace}/{name}:
    get:
      operationId: getEntityTypeId
      parameters:
      - explode: false
        in: path
        name: namespace
        required: true
        schema:
          example: openlattice
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          example: myentitytype
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                format: uuid
                type: string
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Gets the EntityType UUID for the given EntityType FQN.
      tags:
      - edm
  /datastore/edm/entity/type/key/{entityTypeId}/{propertyTypeId}:
    delete:
      operationId: removePrimaryKeyFromEntityType
      parameters:
      - explode: false
        in: path
        name: entityTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: propertyTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Removes a primary key with a given ID from an entity type with a given
        ID.
      tags:
      - edm
    put:
      operationId: addPrimaryKeyToEntityType
      parameters:
      - explode: false
        in: path
        name: entityTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: propertyTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Adds a primary key with a given ID to an entity type with a given ID.
      tags:
      - edm
  /datastore/edm/entity/type/{entityTypeId}/{propertyTypeId}:
    delete:
      operationId: removePropertyTypeFromEntityType
      parameters:
      - explode: false
        in: path
        name: entityTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: propertyTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Updates the EntityType definition for the given EntityType UUID by
        removing the given PropertyType UUID.
      tags:
      - edm
    put:
      operationId: addPropertyTypeToEntityType
      parameters:
      - explode: false
        in: path
        name: entityTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: propertyTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Updates the EntityType definition for the given EntityType UUID by
        adding the given PropertyType UUID.
      tags:
      - edm
  /datastore/edm/entity/type/{entityTypeId}/{propertyTypeId}/force:
    delete:
      operationId: forceRemovePropertyTypeFromEntityType
      parameters:
      - explode: false
        in: path
        name: entityTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: propertyTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Updates the EntityType definition for the given EntityType UUID by
        removing the given PropertyType UUID, regardless of whether or not there is
        data associated with the entity type.
      tags:
      - edm
  /datastore/edm/entity/type/:
    get:
      operationId: getAllEntityTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EntityType'
                type: array
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Gets all EntityType definitions.
      tags:
      - edm
    post:
      operationId: createEntityType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityType'
        required: true
      responses:
        "200":
          description: Success
      summary: Creates a new EntityType definition, if it doesn't exist.
      tags:
      - edm
  /datastore/edm/association/type/:
    get:
      operationId: getAllAssociationEntityTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AssociationType'
                type: array
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Gets all association EntityType definitions.
      tags:
      - edm
    post:
      operationId: createAssociationType
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/AssociationType'
              type: array
        required: true
      responses:
        "200":
          description: Success
      summary: Creates a new AssociationType definition, if it doesn't exist.
      tags:
      - edm
  /datastore/edm/entity/type/{entityTypeId}/property/type:
    get:
      operationId: getAllEntityTypePropertyMetadata
      parameters:
      - explode: false
        in: path
        name: entityTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/EntityTypePropertyMetadata'
                type: object
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get all EntityType propertyType metadata
      tags:
      - edm
    patch:
      operationId: reorderPropertyTypesInEntityType
      parameters:
      - explode: false
        in: path
        name: entityTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: propertyTypeIds
        required: true
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: simple
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Updates the EntityType definition for the given EntityType UUID by
        reordering its properties as specified by the provided list.
      tags:
      - edm
  /datastore/edm/entity/type/{entityTypeId}/hierarchy:
    patch:
      operationId: getEntityTypeHierarchy
      parameters:
      - explode: false
        in: path
        name: entityTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get the EntityType hierarchy for the given EntityType UUID.
      tags:
      - edm
  /datastore/edm/entity/type/{entityTypeId}/property/type/{propertyTypeId}:
    get:
      operationId: getEntityTypePropertyMetadata
      parameters:
      - explode: false
        in: path
        name: entityTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: propertyTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityTypePropertyMetadata'
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get EntityType propertyType metadata
      tags:
      - edm
    post:
      operationId: updateEntityTypePropertyMetadata
      parameters:
      - explode: false
        in: path
        name: entityTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: propertyTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Update EntityType Property metadata
      tags:
      - edm
  /datastore/edm/property/type/{propertyTypeId}:
    delete:
      operationId: deletePropertyType
      parameters:
      - explode: false
        in: path
        name: propertyTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Deletes the PropertyType definition for the given PropertyType UUID.
      tags:
      - edm
    get:
      operationId: getPropertyType
      parameters:
      - explode: false
        in: path
        name: propertyTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyType'
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Gets the PropertyType definition for the given PropertyType UUID.
      tags:
      - edm
    patch:
      operationId: updatePropertyTypeMetaData
      parameters:
      - explode: false
        in: path
        name: propertyTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataUpdate'
        required: true
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Updates the PropertyType definition for the given PropertyType UUID
        with the given metadata.
      tags:
      - edm
  /datastore/edm/property/type/{propertyTypeId}/force:
    delete:
      operationId: forceDeletePropertyType
      parameters:
      - explode: false
        in: path
        name: propertyTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Deletes the PropertyType definition for the given PropertyType UUID
        regardless of whether or not there is data associated with it.
      tags:
      - edm
  /datastore/edm/ids/property/type/{namespace}/{name}:
    get:
      operationId: getPropertyTypeId
      parameters:
      - explode: false
        in: path
        name: namespace
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                format: uuid
                type: string
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Gets the PropertyType UUID for the given PropertyType FQN.
      tags:
      - edm
  /datastore/edm/property/type/:
    get:
      operationId: getAllPropertyTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PropertyType'
                type: array
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Gets all PropertyType definitions.
      tags:
      - edm
    post:
      operationId: createPropertyType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyType'
        required: true
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Creates a new PropertyType definition, if it doesn"t exist.
      tags:
      - edm
  /datastore/edm/property/type/namespace/{namespace}:
    get:
      operationId: getAllPropertyTypesInNamespace
      parameters:
      - explode: false
        in: path
        name: namespace
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PropertyType'
                type: array
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Gets all PropertyType definitions under the given namespace.
      tags:
      - edm
  /datastore/edm/association/type/{associationTypeId}:
    delete:
      operationId: deleteAssociationType
      parameters:
      - explode: false
        in: path
        name: associationTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
      summary: Deletes the AssociationType definition for the given AssociationType
        UUID.
      tags:
      - edm
    get:
      operationId: getAssociationType
      parameters:
      - explode: false
        in: path
        name: associationTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssociationType'
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get the AssociationType definition for the given AssociationType UUID.
      tags:
      - edm
  /datastore/edm/association/type/{associationTypeId}/detailed:
    get:
      operationId: getAssociationTypeDetails
      parameters:
      - explode: false
        in: path
        name: associationTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssociationType'
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get details about the AssociationType for the given AssociationType
        UUID.
      tags:
      - edm
  /datastore/edm/association/type/{associationTypeId}/available:
    get:
      operationId: getAllAvailableAssociationTypes
      parameters:
      - explode: false
        in: path
        name: associationTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AssociationType'
                type: array
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get all available associations for the given AssociationType UUID.
      tags:
      - edm
  /datastore/edm/association/type/{associationTypeId}/dst/{entityTypeId}:
    delete:
      operationId: removeDstEntityTypeFromAssociationType
      parameters:
      - explode: false
        in: path
        name: associationTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: entityTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Updates the AssociationType dst entity types for the given AssociationType
        UUID by removing the given EntityType UUID.
      tags:
      - edm
    put:
      operationId: addDstEntityTypeToAssociationType
      parameters:
      - explode: false
        in: path
        name: associationTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: entityTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Update the AssociationType dst entity types for the given AssociationType
        UUID by adding the given EntityType UUID.
      tags:
      - edm
  /datastore/edm/association/type/{associationTypeId}/src/{entityTypeId}:
    delete:
      operationId: removeSrcEntityTypeFromAssociationType
      parameters:
      - explode: false
        in: path
        name: associationTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: entityTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Updates the AssociationType src entity types for the given AssociationType
        UUID by removing the given EntityType UUID.
      tags:
      - edm
    put:
      operationId: addSrcEntityTypeToAssociationType
      parameters:
      - explode: false
        in: path
        name: associationTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: entityTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Update the AssociationType src entity types for the given AssociationType
        UUID by adding the given EntityType UUID.
      tags:
      - edm
  /datastore/edm/summary:
    get:
      operationId: getAllPropertyUsageSummaries
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/PropertyUsageSummary'
                type: object
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get Property Usage Summary for all properties.
      tags:
      - edm
  /datastore/edm/summary/{propertyTypeId}:
    get:
      operationId: getPropertyUsageSummary
      parameters:
      - explode: false
        in: path
        name: propertyTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PropertyUsageSummary'
                type: array
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get Property Usage Summary for property with given ID.
      tags:
      - edm
  /datastore/edm/schema/{namespace}/{name}:
    get:
      operationId: getSchemaContents
      parameters:
      - explode: false
        in: path
        name: namespace
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: fileType
        required: false
        schema:
          default: yaml
          enum:
          - csv
          - json
          - yaml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Gets the schema contents for a corresponding namespace and name.
      tags:
      - edm
    patch:
      operationId: updateSchema
      parameters:
      - explode: false
        in: path
        name: namespace
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EdmRequest'
        required: true
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Edits the schema contents for a corresponding namespace and name.
      tags:
      - edm
    put:
      operationId: createEmptySchema
      parameters:
      - explode: false
        in: path
        name: namespace
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Creates an empty schema, if it doesn't exist. If schema exists then
        no action is taken.
      tags:
      - edm
  /datastore/edm/schema:
    get:
      operationId: getSchemas
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Schema'
                type: array
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Gets all schemas.
      tags:
      - edm
    post:
      operationId: createSchemaIfNotExists
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schema'
        required: true
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Creates an empty schema, if it doesn't exist. If schema exists then
        no action is taken.
      tags:
      - edm
  /datastore/edm/schema/{namespace}:
    get:
      operationId: getSchemasInNamespace
      parameters:
      - explode: false
        in: path
        name: namespace
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Schema'
                type: array
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Gets all schemas associated with a given namespace and accessible by
        the caller.
      tags:
      - edm
  /datastore/entity-sets:
    get:
      operationId: getAllEntitySets
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EntitySet'
                type: array
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get all EntitySet definitions.
      tags:
      - entitySets
      - edm
    post:
      operationId: createEntitySets
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/EntitySet'
              type: array
        required: true
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Creates new EntitySet definitions if they don't exist.
      tags:
      - entitySets
      - edm
  /datastore/entity-sets/ids/:
    post:
      operationId: getEntitySetIds
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  format: uuid
                  type: string
                type: object
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get IDs for entity sets given their names.
      tags:
      - entitySets
      - edm
  /datastore/entity-sets/ids/{entitySetName}:
    get:
      operationId: getEntitySetId
      parameters:
      - explode: false
        in: path
        name: entitySetName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                format: uuid
                type: string
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Gets the EntitySet UUID for the given EntitySet name.
      tags:
      - entitySets
      - edm
  /datastore/entity-sets/all/{entitySetId}:
    delete:
      operationId: deleteEntitySet
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Deletes the EntitySet definition for the given EntitySet UUID.
      tags:
      - entitySets
      - edm
    get:
      operationId: getEntitySet
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitySet'
          description: An Entity Set definition
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get the EntitySet definition for the given EntitySet UUID.
      tags:
      - entitySets
      - edm
  /datastore/entity-sets/all/metadata:
    post:
      operationId: getPropertyMetadataForEntitySets
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  additionalProperties:
                    $ref: '#/components/schemas/EntitySetPropertyMetaData'
                  type: object
                type: object
          description: EntitySetPropertyMetaData
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get property metadata for entity sets.
      tags:
      - entitySets
      - edm
  /datastore/entity-sets/all/{entitySetId}/metadata:
    get:
      operationId: getAllEntitySetPropertyMetadata
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/EntitySetPropertyMetaData'
                type: object
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get all entity set property metadata.
      tags:
      - entitySets
      - edm
  /datastore/entity-sets/all/{entitySetId}/properties:
    get:
      operationId: getPropertyTypesForEntitySet
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/PropertyType'
                type: object
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get all Property Types for entity set
      tags:
      - entitySets
      - edm
  /datastore/entity-sets/all/{entitySetId}/properties/{propertyTypeId}/:
    get:
      operationId: getEntitySetPropertyMetadata
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: propertyTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitySetPropertyMetaData'
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get specified property type metadata for an entity set.
      tags:
      - entitySets
      - edm
    post:
      operationId: updateEntitySetPropertyMetadata
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: propertyTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataUpdate'
        required: true
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Updates the property type metadata for the given entity set.
      tags:
      - entitySets
      - edm
  /datastore/entity-sets/all/{entitySetId}/metadata/:
    patch:
      operationId: updateEntitySetMetaData
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetadataUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: integer
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Updates the EntitySet definition for the given EntitySet UUID with
        the given metadata.
      tags:
      - entitySets
      - edm
  /datastore/entity-sets/linking/{linkingEntitySetId}:
    delete:
      operationId: removeEntitySetsFromLinkingEntitySet
      parameters:
      - explode: false
        in: path
        name: linkingEntitySetId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                format: uuid
                type: string
              type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                type: integer
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Removes/unlinks the linked entity sets from the linking entity set
      tags:
      - entitySets
      - edm
    post:
      operationId: addEntitySetsToLinkingEntitySet
      parameters:
      - explode: false
        in: path
        name: linkingEntitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                format: uuid
                type: string
              type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                type: integer
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Adds the entity sets as linked entity sets to the linking entity set
      tags:
      - entitySets
      - edm
  /datastore/entity-sets/linking/:
    delete:
      operationId: removeEntitySetsFromLinkingEntitySets
      parameters:
      - explode: false
        in: path
        name: linkingEntitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                items:
                  format: uuid
                  type: string
                type: array
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: integer
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Removes/unlinks the linked entity sets from the linking entity set
      tags:
      - entitySets
      - edm
    put:
      operationId: addEntitySetsToLinkingEntitySets
      parameters:
      - explode: false
        in: path
        name: linkingEntitySetId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                items:
                  format: uuid
                  type: string
                type: array
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: integer
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Adds the entity sets as linked entity sets to the linking entity sets
      tags:
      - entitySets
      - edm
  /datastore/organization-database/{organizationId}/external-database-table:
    get:
      operationId: getExternalDatabaseTables
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrganizationExternalDatabaseTable'
                type: array
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Gets all OrganizationExternalDatabaseTable objects for an organization
      tags:
      - dataset
  /datastore/organization-database/{organizationId}/external-database-table/external-database-column:
    get:
      operationId: getExternalDatabaseTablesWithColumns
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    $ref: '#/components/schemas/OrganizationExternalDatabaseColumn'
                  type: array
                type: object
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Gets a map of all OrganizationExternalDatabaseTable objects to OrganizationExternalDatabase
        columns that are contained within each table.
      tags:
      - dataset
  /datastore/organization-database/{organizationId}/{tableId}/external-database-table/external-database-column:
    get:
      operationId: getExternalDatabaseTableWithColumns
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: tableId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/OrganizationExternalDatabaseTableColumnsPair'
                type: object
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Gets an object containing an OrganizationExternalDatabaseTable object
        and its OrganizationExternalDatabase columns for an organization
      tags:
      - dataset
  /datastore/data:
    post:
      operationId: createEntityAndAssociationData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataGraph'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataGraphIds'
          description: DataGraphIds
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Creates entities and assocations
      tags:
      - data
  /datastore/data/association:
    patch:
      operationId: replaceAssociationData
      parameters:
      - explode: true
        in: query
        name: partial
        required: true
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                additionalProperties:
                  $ref: '#/components/schemas/DataEdge'
                type: object
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: integer
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Replaces Association Data
      tags:
      - data
    post:
      operationId: createAssociations
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            schema:
              description: Set of associations to create. Keys are association entity
                set ids and values for each keys are the data to be created. AssociationEntityId's
                are not generated based on the key.
              properties:
                additionalProperties:
                  items:
                    $ref: '#/components/schemas/DataEdge'
                  type: array
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    format: uuid
                    type: string
                  type: array
                type: object
          description: Edges
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Creates a new set of associations.
      tags:
      - data
    put:
      operationId: createEdges
      requestBody:
        content:
          application/json:
            schema:
              description: Set of associations to create. An association is the triple
                of source, destination, and edge entitiy data keys.
              items:
                $ref: '#/components/schemas/DataEdgeKey'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: integer
          description: An Entity Set definition
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Creates a new set of associations.
      tags:
      - data
  /datastore/data/set/{entitySetId}:
    delete:
      operationId: deleteEntities
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - Soft
          - Hard
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              items:
                format: uuid
                type: string
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: integer
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Deletes multiple entities from an entity set.
      tags:
      - data
    get:
      operationId: loadEntitySetData
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  additionalProperties:
                    items:
                      type: string
                    type: array
                  type: object
                type: array
          description: An Entity Set definition
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Gets an iterable containing the entity data, using property type FQNs
        as key
      tags:
      - data
    patch:
      operationId: replaceEntityProperties
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                additionalProperties:
                  items:
                    additionalProperties:
                      type: string
                    type: object
                  type: array
                type: object
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: integer
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Replaces Entity Properties
      tags:
      - data
    post:
      operationId: loadSelectedEntitySetData
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/EntitySetSelection'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  additionalProperties:
                    items:
                      type: string
                    type: array
                  type: object
                type: array
          description: A list of entity keys that were generated
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Gets a list of entities by UUIDs
      tags:
      - data
    put:
      operationId: updateEntitiesInEntitySet
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - Merge
          - Replace
          - PartialReplace
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: integer
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Perform one of the following bulk update operations on entities (type
        = Merge) adds new properties without affecting existing data, (type = PartialReplace)
        replaces all values for supplied property types, but does not not affect other
        property types for an entity, (type = Replace) replaces all entity data with
        the supplied properties.
      tags:
      - data
  /datastore/data/set/{entitySetId}/neighbors:
    post:
      operationId: deleteEntitiesAndNeighbors
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - Soft
          - Hard
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/EntityNeighborsFilter'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: integer
          description: A long
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Deletes the entities matching the given entity ids and all of its neighbor
        entities provided in the filter.
      tags:
      - data
  /datastore/data/set/:
    post:
      operationId: createEntities
      parameters:
      - explode: true
        in: query
        name: setId
        required: true
        schema:
          format: uuid
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              items:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  format: uuid
                  type: string
                type: array
          description: Edges
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Creates a new set of entities.
      tags:
      - data
  /datastore/data/set/{entitySetId}/all:
    delete:
      operationId: deleteAllEntitiesFromEntitySet
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - Soft
          - Hard
          type: string
        style: form
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Clears the Entity matching the given Entity id and all of its neighbor
        Entities
      tags:
      - data
  /datastore/data/{entitySetId}/count:
    get:
      operationId: getEntitySetSize
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: integer
          description: The number of entities in an entity set.
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Gets the number of entities in an entity set.
      tags:
      - data
  /datastore/data/set/{linkedEntitySetId}/detailed:
    post:
      operationId: loadLinkedEntitySetBreakdown
      parameters:
      - explode: false
        in: path
        name: linkedEntitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/EntitySetSelection'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  additionalProperties:
                    additionalProperties:
                      additionalProperties:
                        items:
                          type: string
                        type: array
                      type: object
                    type: object
                  type: object
                type: object
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Loads a linked entity set breakdown with the selected linked entities
        and properties.
      tags:
      - data
  /datastore/data/{entitySetId}/{entityKeyId}:
    delete:
      operationId: deleteEntity
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: entityKeyId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - Soft
          - Hard
          type: string
        style: form
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Deletes a single entity from an entity set.
      tags:
      - data
    get:
      operationId: getEntity
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: entityKeyId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: An entity details object, with property type FQNs as keys.
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Loads a single entity by its entityKeyId and entitySetId
      tags:
      - data
  /datastore/data/{entitySetId}/{entityKeyId}/{propertyTypeId}:
    get:
      operationId: getEntityPropertyValues
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: entityKeyId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: propertyTypeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: A set of values
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Loads property  values for a single entity by its entityKeyId, entitySetId
        and propertyTypeId
      tags:
      - data
  /datastore/data/{entitySetId}/{entityKeyId}/properties:
    delete:
      operationId: deleteEntityProperties
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: entityKeyId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - Soft
          - Hard
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              items:
                format: uuid
                type: string
              type: array
        required: true
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Deletes properties from an entity.
      tags:
      - data
  /datastore/integration:
    post:
      operationId: integrateEntityAndAssociationData
      parameters:
      - explode: true
        in: query
        name: detailedResults
        required: true
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDataCreation'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationResults'
          description: A data search result object, containing the total number of
            hits for the given query, and the hits themselves
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Integrate entity and association data
      tags:
      - data-integrations
  /datastore/integration/entityKeyIds:
    post:
      operationId: getEntityKeyIds
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/EntityKey'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  format: uuid
                  type: string
                type: array
          description: A data search result object, containing the total number of
            hits for the given query, and the hits themselves
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get entity key IDs
      tags:
      - data-integrations
  /datastore/search/advanced/{entitySetId}:
    post:
      operationId: executeAdvancedEntitySetDataQuery
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvancedSearch'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSearchResult'
          description: A data search result object, containing the total number of
            hits for the given query, and the hits themselves
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Executes a search over the data of a given entity set to find rows
        that match the search term
      tags:
      - search
  /datastore/search/{entitySetId}/{entityKeyId}:
    get:
      operationId: executeEntityNeighborSearch
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: entityKeyId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NeighborEntityDetails'
                type: array
          description: A list of objects containing information about the neighbor
            and association.
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Executes a search for all neighbors of an entity that are connected
        by an association
      tags:
      - search
  /datastore/search/{entitySetId}/neighbors:
    post:
      operationId: executeEntityNeighborSearchBulk
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              description: entityKeyIds
              items:
                format: uuid
                type: string
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    $ref: '#/components/schemas/NeighborEntityDetails'
                  type: array
                type: object
          description: A list of objects containing information about the neighbor
            and association.
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Executes a search for all neighbors of multiple entities of the same
        entity set that are connected by an association
      tags:
      - search
  /datastore/search/{entitySetId}/neighbors/advanced:
    post:
      operationId: executeFilteredEntityNeighborSearch
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NeighborSearchFilter'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    $ref: '#/components/schemas/NeighborEntityDetails'
                  type: array
                type: object
          description: A list of objects containing information about the neighbor
            and association.
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Executes a search for all neighbors of multiple entities of the same
        entity set that are connected by an association
      tags:
      - search
  /datastore/search/{entitySetId}/neighbors/advanced/ids:
    post:
      operationId: executeFilteredEntityNeighborIdSearch
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NeighborSearchFilter'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  additionalProperties:
                    additionalProperties:
                      items:
                        $ref: '#/components/schemas/NeighborEntityIds'
                      type: array
                    type: object
                  type: object
                type: object
          description: A list of objects containing information about the neighbor
            and association.
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Executes a search for all neighbors of multiple entities of the same
        entity set that are connected by an association and returns a simple version
        of the neighborDetails
      tags:
      - search
  /datastore/search:
    patch:
      operationId: searchEntitySetData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchConstraints'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSearchResult'
          description: A  data search result object, containing the total number of
            hits for the given query, and the hits themselves.
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Executes a search over the data of a given entity set to find rows
        that match the search term
      tags:
      - search
    post:
      operationId: executeEntitySetKeywordQuery
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  additionalProperties:
                    additionalProperties:
                      items:
                        $ref: '#/components/schemas/NeighborEntityIds'
                      type: array
                    type: object
                  type: object
                type: object
          description: A list of objects containing information about the neighbor
            and association.
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: The query, entityType, and propertyTypes params are all optional, but
        at least one must be specified otherwise an error will be thrown. All specified
        params are required to be present in each entity set returned. If entityType
        and propertyTypes are both specified, the propertyTypes param will be ignored.
      tags:
      - search
  /datastore/search/popular:
    get:
      operationId: getPopularEntitySet
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EntitySet'
                type: array
          description: A  data search result object, containing the total number of
            hits for the given query, and the hits themselves.
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get the most popular entity sets.
      tags:
      - search
  /datastore/search/entity-sets/{start}/{numResults}:
    get:
      operationId: getEntitySets
      parameters:
      - description: The first result number to return
        explode: false
        in: path
        name: start
        required: true
        schema:
          type: integer
        style: simple
      - description: The total number of results to return
        explode: false
        in: path
        name: numResults
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SearchResult'
                type: array
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Executes a search over all existing entity sets to populate the home
        page. The path parameters instruct which page to return and how large the
        page should be.
      tags:
      - search
  /datastore/search/{entitySetId}:
    post:
      operationId: executeEntitySetDataQuery
      parameters:
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchTerm'
        description: A JSON object that contains three parameters, "start", which
          specifies the hit number to start returning results on for paging, "maxHits",
          which specifies the maximum number of hits to return, and "searchTerm",
          which is the search term results will match on.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSearchResult'
          description: A  data search result object, containing the total number of
            hits for the given query, and the hits themselves.
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Executes a search over the data of a given entity set to find rows
        that match the search term
      tags:
      - search
  /datastore/principals/users/search/email/"{emailAddress}":
    get:
      operationId: searchAllUsersByEmail
      parameters:
      - explode: false
        in: path
        name: emailAddress
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/Auth0userBasic'
                type: object
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get the user id for the given email address.
      tags:
      - principal
  /datastore/principals/users/{userId}:
    get:
      operationId: getUser
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Auth0userBasic'
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get the user for the given id.
      tags:
      - principal
  /datastore/principals/db:
    get:
      operationId: getMaterializedViewAccount
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaterializedViewAccount'
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get the db access credentials.
      tags:
      - principal
  /datastore/principals/users/:
    get:
      operationId: getAllUsers
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/Auth0userBasic'
                type: object
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get all users.
      tags:
      - principal
  /datastore/principals/roles/current/:
    get:
      operationId: getCurrentRoles
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SecurablePrincipal'
                type: array
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get current roles.
      tags:
      - principal
  /datastore/permissions:
    patch:
      operationId: updateAcl
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AclData'
        required: true
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Updates the ACL for a particular ACL Key, only if the user is the owner
        of the ACL Key.
      tags:
      - permissions
    post:
      operationId: getAcl
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acl'
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get the ACL for the given ACL Key, only if the user is the owner of
        the ACL Key.
      tags:
      - permissions
  /datastore/authorizations:
    get:
      operationId: getAccessibleObjects
      parameters:
      - explode: true
        in: query
        name: objectType
        required: false
        schema:
          enum:
          - EntityType
          - EntitySet
          - PropertyTypeInEntitySet
          - Datasource
          - ComplexType
          - LinkingEntityType
          - AssociationType
          - Organization
          - App
          - AppType
          - Principal
          - Role
          - UnknownEdmTemplate
          type: string
        style: form
      - explode: true
        in: query
        name: permission
        required: false
        schema:
          enum:
          - DISCOVER
          - MATERIALIZE
          - LINK
          - READ
          - WRITE
          - OWNER
          type: string
        style: form
      - explode: true
        in: query
        name: pagingToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizedObjectsSearchResult'
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Returns paged results for all authorized objects of specified objectType,
        that the current user has specified permission for.
      tags:
      - authorizations
    post:
      operationId: checkAuthorizations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessCheck'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Authorization'
                type: array
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Check authorizations
      tags:
      - authorizations
  /datastore/organizations:
    get:
      operationId: getOrganizations
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Organization'
                type: array
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get all organizations
      tags:
      - organizations
    post:
      operationId: createOrganizationIfNotExists
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                format: uuid
                type: string
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Creates an organization if it doesn't exist.
      tags:
      - organizations
  /datastore/organizations/{organizationId}:
    delete:
      operationId: destroyOrganization
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Remove an organization from the organizationId
      tags:
      - organizations
    get:
      operationId: getOrganization
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get an organization from the organizationId
      tags:
      - organizations
  /datastore/organizations/{organizationId}/integration:
    get:
      operationId: getOrganizationIntegrationAccount
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get the integrations account for an organization from the organizationId
      tags:
      - organizations
  /datastore/organizations/{organizationId}/entity-sets:
    get:
      operationId: getOrganizationEntitySets
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    enum:
                    - INTERNAL
                    - EXTERNAL
                    - MATERIALIZED
                    type: string
                  type: array
                type: object
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get the entity sets for an organization for a certain filter
      tags:
      - organizations
    post:
      operationId: getFlaggedOrganizationEntitySets
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                items:
                  enum:
                  - INTERNAL
                  - EXTERNAL
                  - MATERIALIZED
                  type: string
                type: array
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  additionalProperties:
                    items:
                      enum:
                      - INTERNAL
                      - EXTERNAL
                      - MATERIALIZED
                      type: string
                    type: array
                  type: object
                type: array
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get the entity sets for an organization for a certain flag
      tags:
      - organizations
  /datastore/organizations/{organizationId}/entity-sets/assemble:
    post:
      operationId: assembleEntitySets
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: integer
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    enum:
                    - INTERNAL
                    - EXTERNAL
                    - MATERIALIZED
                    type: string
                  type: array
                type: object
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Materializes entity sets into the organization database.
      tags:
      - organizations
  /datastore/organizations/{organizationId}/{entitySetId}/refresh:
    post:
      operationId: refreshDataChanges
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Refreshes the requested materialized entity set with data changes in
        the organization.
      tags:
      - organizations
  /datastore/organizations/{organizationId}/{entitySetId}/synchronize:
    post:
      operationId: synchronizeEdmChanges
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: entitySetId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Synchronizes EDM changes to the requested materialized entity set in
        the organization.
      tags:
      - organizations
  /datastore/organizations/{organizationId}/title:
    put:
      operationId: updateTitle
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Update the organization title
      tags:
      - organizations
  /datastore/organizations/{organizationId}/description:
    put:
      operationId: updateDescription
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Update the organization description
      tags:
      - organizations
  /datastore/organizations/{organizationId}/email-domains:
    delete:
      operationId: removeAutoApprovedEmailDomains
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
        required: true
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Remove auto-approved email domains
      tags:
      - organizations
    get:
      operationId: getAutoApprovedEmailDomains
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get auto-approved email domains
      tags:
      - organizations
    put:
      operationId: setAutoApprovedEmailDomain
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
        required: true
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Set auto-approved email domains
      tags:
      - organizations
  /datastore/organizations/{organizationId}/principals/members:
    get:
      operationId: getMembers
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrganizationMember'
                type: array
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get members of a certain organization
      tags:
      - organizations
  /datastore/organizations/{organizationId}/principals/members/{userId}:
    delete:
      operationId: removeMember
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Remove member from an organization
      tags:
      - organizations
    put:
      operationId: addMember
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Add member to an organization
      tags:
      - organizations
  /datastore/organizations/roles:
    post:
      operationId: createRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Role'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                format: uuid
                type: string
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Creates role
      tags:
      - organizations
  /datastore/organizations/{organizationId}/principals/roles:
    get:
      operationId: getRoles
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Role'
                type: array
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get roles for an organization
      tags:
      - organizations
  /datastore/organizations/{organizationId}/principals/roles/{roleId}:
    delete:
      operationId: deleteRole
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Remove role for an organization
      tags:
      - organizations
    get:
      operationId: getRole
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get role for an organization from a roleId
      tags:
      - organizations
  /datastore/organizations/{organizationId}/principals/roles/{roleId}/title:
    put:
      operationId: updateRoleTitle
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          text/plain:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Update role title for an organization from a roleId
      tags:
      - organizations
  /datastore/organizations/{organizationId}/principals/roles/{roleId}/description:
    post:
      operationId: updateRoleDescription
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          text/plain:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Update role description for an organization from a roleId
      tags:
      - organizations
  /datastore/organizations/{organizationId}/principals/roles/{roleId}/members/:
    get:
      operationId: getAllUsersOfRole
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Auth0userBasic'
                type: array
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Get members of a role for an organization from a roleId
      tags:
      - organizations
  /datastore/organizations/{organizationId}/principals/roles/{roleId}/members/{userId}:
    delete:
      operationId: removeRoleFromUser
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Remove a role from a user
      tags:
      - organizations
    put:
      operationId: addRoleToUser
      parameters:
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Add a role to a user
      tags:
      - organizations
  /linker/linkingfeedback:
    delete:
      operationId: deleteLinkingFeedback
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityKeyPair'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: integer
          description: Success
      security:
      - openlattice_auth: []
      - http_auth: []
      summary: Deletes linking feedback
      tags:
      - linking
    put:
      operationId: addLinkingFeedback
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkingFeedback'
        required: true
      responses:
        "200":
[...]
